.card{
    background: #393A40;
    width: 18rem;
    border: 2px solid #B2B3BD;
    margin-bottom: 24px;
    position: relative;
}

.card-body{
    color: white;

}

.card-title{
    margin-bottom: 34px;
}

.card-text{
    position: absolute;
    bottom: 0px;
    left: 16px;
}

.btn{
    display: grid;
    position: absolute;
    bottom: 12px;
    right: 16px;
    text-align: center;
    place-content: center;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
}

.movie-rate{
    position: absolute;
    top: -32px;
    left: 0px;
    
}

